*.iml

.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea

app/build
app/libs
app/release
app/proguard-rules.pro
app/src/androidTest/

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build
/captures

local.properties
gradlew
gradlew.bat
gradle/wrapper/
license/build/


