<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:node="replace"
        tools:targetApi="35">

        <activity
            android:name="StartActivity"
            android:theme="@style/TicTacDoh2"
            android:exported="true">
        </activity>

        <activity
            android:name="MainActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="WillyShmoApplication"
            android:exported="true"
            android:theme="@style/TicTacDoh2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="FusedLocationActivity"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="SettingsDialogs"
            android:label="@string/settings"
            android:theme="@style/TicTacDoh2"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="OnePlayerActivity"
            android:label="@string/one_player_name"
            android:theme="@style/TicTacDoh2"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="TwoPlayerActivity"
            android:label="@string/two_player_name"
            android:theme="@style/TicTacDoh2"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="RulesActivity"
            android:label="@string/rules"
            android:theme="@style/TicTacDoh2"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="AboutActivity"
            android:label="@string/about"
            android:theme="@style/TicTacDoh2"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name="GameActivity"
            android:theme="@style/Theme.AppCompat"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="PlayOverNetwork"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".PlayersOnlineActivity"
            android:label="@string/select_player"
            android:noHistory="true"
            android:screenOrientation="landscape"/>
        <activity
            android:name="PrizesAvailableActivity"
            android:label="@string/show_prizes"
            android:noHistory="true"
            android:screenOrientation="landscape"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--meta-data
            tools:replace="android:resource"
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="23.5.0" / -->

                <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
                <meta-data
                    android:name="com.google.android.gms.ads.APPLICATION_ID"
                    android:value="ca-app-pub-3940256099942544~3347511713"/>

    </application>
</manifest>